.navbar{
    background-color: #41354D;
    height: 100px;
    color: #FFD195;
    margin-bottom: 15px;
    text-align: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    height: 400px;
    width: 700px;
}


.textbox{
    height: 30px;
    text-align: left;
    width: 20%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.descriptionbox{
    height: 80px;
    text-align: top;
    align-items: top;
    width: 20%;
    justify-content: top;
    align-content: top;
}

.heading{
    text-align: left;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicButton{
    margin: 2px
}

.thumbnailImage{
    float: left;
    alt: "Can't Find image";
    width: 200px;
    height: 120px; 
}

.thumbnailHeader {
    margin-left: 1000px
}

.mediumImage {
    size: 60%;
}

.background{
    background-color: blue
}

.smallImage{
    width: auto;
    height: 200px;
}

.para{
    font-size : 20px;
    padding : 0;
    margin : 0;
    line-height : 20px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/* Jibbys edited stylings*/

.title{
    margin-top: 4rem;
    background: #41354D;
    height: 70px;
    width:100%;
    left: 0;
    top: 0;
    color: #FFD195;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainNavigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: #41354D;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  
  .mainNavigationLogo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #FFD195;
  }
  
  .mainNavigationItems {
    margin-left: 1.5rem;
  }
  
  .mainNavigationItems ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mainNavigationItems li {
    margin: 0 1rem;
  }
  
  .mainNavigationItems a {
    text-decoration: none;
    color: #FFD195;
  }
  
  .mainNavigationItems a:hover,
  .mainNavigationItems a:active,
  .mainNavigationItems a.active {
      color: red;
  }

  .logout {
    margin-left: 1.5rem;
    padding: 0 1rem;
    text-decoration: none;
    margin: 0;
    color: #FFD195;
}

.center {
    justify-content: center;
    align-items: center;
}

.load {
    width: 300;
    height: 400;
}

.gridDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}

.gridImg {
    width: 100%;
    height: auto;
    max-width: 50vw;
}

.thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    place-content: center;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.itemBox{
    background-color: #FFD195;
    outline: 5px solid #DE7E44;
}

.toText{
    text-align: center;
    font-size: 1.5vw;
    overflow: hidden;
    text-decoration: none;
    color: black !important;
    
}

#container {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 10%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
	background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    display: inline-block;
    margin-left: 18px;
    font-size: 25px;
}
input {
    font-size: 20px;
}
input[type=email],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}
#lower {
    background: #41354D;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    width: 80px;
    height: 30px;
}

/* CSS TO CHANGE ALL PAGES
html, body {   
width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;
-webkit-font-smoothing: antialiased;  
background: white;
} */